@import "reset.css";
@import "fonts.css";

@import '../../node_modules/pollen-css/pollen.css';

:root {
    --font-sans: 'Gabarito';
}

* {
    font-family: var(--font-sans);
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
    font-size: var(--scale-0);
    line-height: normal;
}